/* Navbar stuff*/

.mainTitle {
    background-color: #764F1F !important;
    border: 0 !important;
    font-family: Montserrat;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

.mainTitle .titleText {
    font-size: 28px;
    font-weight: bold;
}

.mainTitle .titleDetail {
    font-weight: normal;
    font-size: 12px;
}


/* Main container */
    
.main {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 10vh !important;
    padding: 0 !important;
    width: 100vw !important;
    height: 90vh;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
}

.main .bean {
    width: 8em;
    height: 9em;
    padding: 20px 40px 0px 40px;
}



.main .roast {
    width: 70%;
}

.main .milk {
    width:8em;
    height:9em;
    padding: 40px;
}

.almond{
    width:150px;
    height:180px;
    padding: 40px 45px 40px 45px;
}

.main .sweetener {
    width:8em;
    height:9em;
    padding: 40px;
}

.main .save {
    /*margin: 20px;*/
}

.main .dropdown {
    margin: 0px;
    cursor: pointer !important;

}

.main .row {
    margin: 0 !important;
}

.dropList {
    background-color: #FFFFFF !important;
    height: auto !important;
    max-height: 90px !important;
    overflow-x: hidden !important;
    left: 15px;
    right: 15px;
}

li:hover {
    background-color: #DDDDDD !important;
}

/* Rows and content*/
.content {
    padding: 50px 10px 50px 10px;
}

/*.image {*/
/*    padding-bottom:10px;*/
/*}*/

.itemLabel {
    margin: -15px auto auto auto;
}

.titleLabel {
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px !important;
}

.turkish {
    margin: auto auto auto -30px;
}

.siphen{
    padding: 40px;
}

.coldbrew{
    padding: 40px;
}

.chemex{
    padding: 55px 40px 45px 40px;
}

.method {
    width: 8.5em !important;
    height: 10em !important;
    
    
}

.image {
    width:150px;
    height:180px;
    padding: 40px;
}

.cupHolder {
    position: relative;
    height: 250px;
}

.mainCup {
    top: 0%;
    left: 0%;
    width: auto;
    height: 60%;
    position: relative;
}

.compareCup {
    opacity: 1;
    top: 0%;
    left: 0%;
    width: auto;
    height: 60%;
    position: relative;
    filter:grayscale(100);
}

.resultSide {
    background-color: #CCCCCC;
    position: absolute;
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    overflow-y: auto;
}

.compareCupSide {
    opacity: 0.2
}



.modSide {
    background-color: #CCCCCC;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    padding-top: 15vh;
}

.resultTitle {
    padding-top: 20px !important;
    padding-bottom: 30px !important;
    font-size: 28px;
}

/* GRAPHS */

.graphs {
    padding-bottom: 35px!important
}

.graphData {
    font-size: 0.8em
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.graphDetail {
    font-size: 10px;
    margin-top: -12px !important;
}

.graphTitle {
    font-size: 0.75em;
}

.ct-label {
    font-size: 14px !important;
    font-family: Montserrat !important;
    font-style: bold !important;
}

/* GRAPH COLORS */

/*.caffeine .ct-slice-donut {*/
/*    stroke: #f4c63d !important;*/
/*}*/

/*.calories .ct-slice-donut {*/
/*    stroke: #f4c63d !important;*/
/*}*/

/*.price .ct-slice-donut {*/
/*    stroke: #f4c63d !important;*/
/*}*/


/* BUTTON */

.btn-light {
  background-color: #b0742b;
  border-color: #b0742b;
    color: white;
}

.btn-medium{
  background-color: #764F1F;
  border-color: #764F1F;
    color: white;
}

.btn-dark {
  background-color: #5c3d16;
  border-color: #5c3d16;
    color: white;
}

/* TOOLTIP STYLING */

.tipInfo {
    padding:  0px 15px 0px 0px;
    list-style-type: none;
}

/* Button Text */
.btn:hover{ 
    color: white !important;
}

.btn:focus{
    color: white !important;
}